<div id='calendar' data-name="schedule_1" class='width width-md-e margin-a' style="" data-ignore-default-touch-scroll="true">

</div>
<div style='display: none'>
    <form class='jmForm' style='position: relative; margin: 0px auto 0px auto; display: none; width: 600px; max-width: 80vw; padding: 0; border: 0;' id='calendar-event-form'>
        <label><h3 class='margin-n'>Name</h3></label>
        <textarea data-event-name="event_title" style='resize: none' placeholder='Name'></textarea>
        <label><h3 class='margin-n'>Date</h3></label>
        <input data-event-name="event_mdy" data-eventTrigger="false" placeholder='Date' readonly='true' />
        <label><h3 class='margin-n'>Details</h3></label>
        <textarea data-event-name="event_description" placeholder='Description' style='resize: none' rows="4"></textarea>
        <div class='jmButton' data-type='submit' style="margin: 25px auto; display: block;">Submit</div>
        <div class='jmButton' data-type='delete' style="margin: 25px auto; display: block;">Delete</div>
    </form>
</div>