@import url('https://fonts.googleapis.com/css?family=Domine|Do+Hyeon|Lobster|Oswald|Raleway|News+Cycle');
.jm_calendar_container {
  background-color: white;
  display: grid;
  width: 100%;
  grid-template-areas: "head" "body" "foot";
  grid-template-rows: min-content min-content auto;
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 10px;
  padding: 5px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  min-height: 100%;
}
.jm_calendar_container * {
  position: relative;
}
.jm_calendar_container .today {
  background-color: rgba(240, 234, 214, 0.5);
}
.jm_calendar_container .jm_calendar_button {
  transition: all .1s linear;
  vertical-align: top;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #c0c0c0;
  box-shadow: -1px 0px 10px 1px rgba(192, 192, 192, 0.1);
  height: 35px;
  line-height: 35px;
  display: inline-block;
  user-select: none;
}
.jm_calendar_container .jm_calendar_button:hover {
  box-shadow: 1px 0px 15px 3px rgba(0, 0, 0, 0.15);
}
.jm_calendar_container .jm_calendar_button:active {
  box-shadow: -1px 0px 15px 3px rgba(0, 0, 0, 0.1);
}
.jm_calendar_container .jm_calendar_button.month {
  width: 9em;
}
.jm_calendar_container .jm_calendar_button.month,
.jm_calendar_container .jm_calendar_button.year {
  margin: 0px 2px;
  padding: 0px 7px;
}
.jm_calendar_container .jm_calendar_button.next,
.jm_calendar_container .jm_calendar_button.previous {
  width: 20px;
}
.jm_calendar_container .jm_calendar_header {
  grid-area: head;
  text-align: center;
}
.jm_calendar_container .jm_calendar_body {
  grid-area: body;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: min-content repeat(6, 1fr);
  overflow: visible;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  padding: 0px 10px 10px 10px;
  background-color: white;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_label {
  text-align: center;
  user-select: none;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day {
  transition: all .1s linear;
  text-align: center;
  min-height: 100px;
  max-height: 10vh;
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  user-select: none;
  overflow: hidden;
}
@media (min-width: 768px) {
  .jm_calendar_container .jm_calendar_body .jm_calendar_day {
    font-size: .6rem;
  }
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.day_view_large {
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.3) !important;
  z-index: 5;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.day_view_large label:after {
  transform: rotate(180DEG) translate(0, -20%);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day label {
  display: block;
  box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.05) inset;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day label:after {
  position: absolute;
  transition: transform .2s linear;
  content: "^";
  font-size: 1rem;
  transform: rotate(360DEG) translate(0, 0%);
  height: 10px;
  width: 10px;
  right: 10%;
  top: 15%;
  overflow: visible;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day:hover {
  box-shadow: -1px 0px 15px 3px rgba(0, 0, 0, 0.6);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.disabled {
  background-color: rgba(192, 192, 192, 0.2);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.disabled:hover {
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.disabled:active {
  box-shadow: -1px 0px 10px 1px rgba(0, 0, 0, 0.3);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.selected {
  box-shadow: 0px 0px 0px 1px red inset;
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day.selected:hover {
  box-shadow: 0px 0px 0px 1px red inset, -1px 0px 15px 3px rgba(0, 0, 0, 0.6);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day .jm_calendar_event {
  transition: all .1s linear;
  background-color: rgba(15, 200, 75, 0.3);
  margin-bottom: 3px;
  border-color: #1e1e1e;
  border-style: solid;
  border-width: 1px 0px;
  font-size: .5rem;
  word-break: keep-all !important;
  overflow: hidden;
  max-height: 2.5em;
  color: black;
  padding: 5px 0px;
}
@media (min-width: 768px) {
  .jm_calendar_container .jm_calendar_body .jm_calendar_day .jm_calendar_event {
    font-size: .6rem;
  }
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day .jm_calendar_event:hover {
  border-color: #0a8130;
  background-color: rgba(52, 240, 113, 0.3);
}
.jm_calendar_container .jm_calendar_body .jm_calendar_day .jm_calendar_event:active {
  border-color: #000000;
  background-color: rgba(75, 242, 129, 0.5);
}
.jm_calendar_container .jm_calendar_footer {
  grid-area: foot;
  display: grid;
  margin-right: 10px;
}
@media (min-width: 768px) {
  .jm_calendar_container .jm_calendar_footer {
    margin-right: unset;
    grid-template-columns: 1fr 1fr;
  }
}
.jm_calendar_container .jm_calendar_footer > div {
  border-radius: 10px;
  border: 1px solid rgba(192, 192, 192, 0.5);
  padding: 8px;
  overflow: auto;
  margin: 5px 2px 0px 2px;
}
.jm_calendar_container .jm_calendar_footer > div:nth-of-type(2) {
  font-size: .7rem;
}
.jm_calendar_container .jm_calendar_footer > div:nth-of-type(2) > div:nth-of-type(odd) {
  white-space: nowrap;
  margin-bottom: 5px;
  margin-right: 15px;
}
.small-calendar .jm_calendar_container {
  min-height: unset;
  max-width: 80%;
  margin: auto;
}
.small-calendar .jm_calendar_container .jm_calendar_day {
  min-height: min-content !important;
}
.small-calendar .jm_calendar_container .jm_calendar_day label:after {
  content: unset;
}
.small-calendar .jm_calendar_container .jm_calendar_footer {
  display: none;
}
.small-calendar .jm_calendar_container .year {
  margin-top: 3px;
  margin-bottom: 3px;
}
